<ion-view title="Add Record Label" id="page8">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Record Label</span>
                <input type="text" placeholder="name" ng-model="recordLabel.name">
            </label>
            <button id="addRecordLabel-button9" class="button button-balanced  button-block" ng-click="addRecordLabel(recordLabel); recordLabel = null">Submit New Record Label</button>
        </form>
    </ion-content>
</ion-view>