<ion-view title="Add New Gig" id="page12">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-select" name="band1">
                <span class="input-label">Band</span>
                <select>
                    <option></option>
                </select>
            </label>
            <button id="addNewGig-button13" class="button button-positive button-small button-block">Add More Bands</button>
            <label class="item item-input" name="promoter">
                <span class="input-label">Promoter</span>
                <input type="text" placeholder="Promoter Name">
            </label>
            <label class="item item-input">
                <span class="input-label">Promoter Phone#</span>
                <input type="tel" placeholder="(111) 222-3333">
            </label>
            <label class="item item-input" name="promoterEmail">
                <span class="input-label">Promoter Email</span>
                <input type="text" placeholder="promoter@gmail.com">
            </label>
            <label class="item item-input" name="location">
                <span class="input-label">Location</span>
                <input type="text" placeholder="Location">
            </label>
            <label class="item item-input" name="date">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input" name="time">
                <span class="input-label">Time</span>
                <input type="time" placeholder="">
            </label>
            <label class="item item-input" name="price">
                <span class="input-label">Price</span>
                <input type="number" placeholder="$$$">
            </label>
            <label class="item item-input" name="description">
                <span class="input-label">Description</span>
                <input type="text" placeholder="Description">
            </label>
            <button id="addNewGig-button14" class="button button-positive button-small button-block">Add Image</button>
            <button id="addNewGig-button12" class="button button-balanced button-large button-block">Submit Gig</button>
        </form>
    </ion-content>
</ion-view>