<ion-view title="Add New Song" id="page6" ng-init="getAllArtists(); getAllAlbums()">
    <ion-content padding="true" class="has-header">
        <form class="list">

            <label class="item item-input" name="songTitle" for="title">
                <span class="input-label">Song Title</span>
                <input type="text" placeholder="Song Title" id="title" ng-model="song.title">
            </label>

            <div class="spacer" style="width: 300px; height: 15px;"></div>

            <label class="item item-select" name="artist">
                <span class="input-label">Artist</span>
                <select ng-model="song.ArtistId">
                    <option ng-repeat="artist in Artists | orderBy:'name'"  ng-value="{{artist.id}}" value="{{artist.id}}">{{artist.name}}</option>
                </select>
            </label>


            <a ui-sref="adminMenu.addNewArtist" id="addNewSong-button3" style="font-weight:300;" class="button button-positive button-small button-block">Add New Artist</a>

            <label class="item item-select" name="album">
                <span class="input-label">Album</span>
                <select ng-model="song.AlbumId">
                    <option ng-repeat="album in Albums | orderBy:'title'" name='kainoa' ng-value="{{album.id}}" value="{{album.id}}">{{album.title}}</option>
                </select>
            </label>

            <a ui-sref="adminMenu.addNewAlbum" id="addNewSong-button4" style="font-weight:300;" class="button button-positive button-small button-block">Add New Album</a>

            <label class="item item-select" name="type">
                <span class="input-label">Type</span>
                <select ng-model="song.type">
                    <option ng-value="hawaiian" value="hawaiian">Hawaiian</option>
                    <option ng-value="contemporary" value="contemporary">Contemporary</option>
                </select>
            </label>

            <label class="item item-input" name="description" for="description">
                <span class="input-label">Description</span>
                <textarea placeholder="Description" ng-model="song.description"> </textarea>
            </label>

            <div class="spacer" style="width: 300px; height: 8px;"></div>
            <label class="item item-input" name="line1" for="line_1">
                <span class="input-label">Line 1</span>
                <input type="text" placeholder="Line 1" id="line_1" ng-model="song.line1">
            </label>
            <label class="item item-input" name="line2" for="line_2">
                <span class="input-label">Line 2</span>
                <input type="text" placeholder="Line 2" id="line_2" ng-model="song.line2">
            </label>
            <label class="item item-input" name="line3" for="line_3">
                <span class="input-label">Line 3</span>
                <input type="text" placeholder="Line 3" id="line_3" ng-model="song.line3">
            </label>
            <label class="item item-input" name="line4" for="line_4">
                <span class="input-label">Line 4</span>
                <input type="text" placeholder="Line 4" id="line_4" ng-model="song.line4">
            </label>
            <label class="item item-input" name="line5" for="line_5">
                <span class="input-label">Line 5</span>
                <input type="text" placeholder="Line 5" id="line_5" ng-model="song.line5">
            </label>
            <label class="item item-input" name="line6" for="line_6">
                <span class="input-label">Line 6</span>
                <input type="text" placeholder="Line 6" id="line_6" ng-model="song.line6">
            </label>
            <label class="item item-input" name="line7" for="line_7">
                <span class="input-label">Line 7</span>
                <input type="text" placeholder="Line 7" id="line_7" ng-model="song.line7">
            </label>
            <label class="item item-input" name="line8" for="line_8">
                <span class="input-label">Line 8</span>
                <input type="text" placeholder="Line 8" id="line_8" ng-model="song.line8">
            </label>
            <label class="item item-input" name="line9" for="line_9">
                <span class="input-label">Line 9</span>
                <input type="text" placeholder="Line 9" id="line_9" ng-model="song.line9">
            </label>
            <label class="item item-input" name="line10" for="line_10">
                <span class="input-label">Line 10</span>
                <input type="text" placeholder="Line 10" id="line_10" ng-model="song.line10">
            </label>
            <label class="item item-input" name="line11" for="line_11">
                <span class="input-label">Line 11</span>
                <input type="text" placeholder="Line 11" id="line_11" ng-model="song.line11">
            </label>
            <label class="item item-input" name="line12" for="line_12">
                <span class="input-label">Line 12</span>
                <input type="text" placeholder="Line 12" id="line_12" ng-model="song.line12">
            </label>
            <label class="item item-input" name="line13" for="line_13">
                <span class="input-label">Line 13</span>
                <input type="text" placeholder="Line 13" id="line_13" ng-model="song.line13">
            </label>
            <label class="item item-input" name="line14" for="line_14">
                <span class="input-label">Line 14</span>
                <input type="text" placeholder="Line 14" id="line_14" ng-model="song.line14">
            </label>
            <label class="item item-input" name="line15" for="line_15">
                <span class="input-label">Line 15</span>
                <input type="text" placeholder="Line 15" id="line_15" ng-model="song.line15">
            </label>
            <label class="item item-input" name="line16" for="line_16">
                <span class="input-label">Line 16</span>
                <input type="text" placeholder="Line 16" id="line_16" ng-model="song.line16">
            </label>
            <label class="item item-input" name="line17" for="line_17">
                <span class="input-label">Line 17</span>
                <input type="text" placeholder="Line 17" id="line_17" ng-model="song.line17">
            </label>
            <label class="item item-input" name="line18" for="line_18">
                <span class="input-label">Line 18</span>
                <input type="text" placeholder="Line 18" id="line_18" ng-model="song.line18">
            </label>
            <label class="item item-input" name="line19" for="line_19">
                <span class="input-label">Line 19</span>
                <input type="text" placeholder="Line 19" id="line_19" ng-model="song.line19">
            </label>
            <label class="item item-input" name="line20" for="line_20">
                <span class="input-label">Line 20</span>
                <input type="text" placeholder="Line 20" id="line_20" ng-model="song.line20">
            </label>
            <label class="item item-input" name="line21" for="line_21">
                <span class="input-label">Line 21</span>
                <input type="text" placeholder="Line 21" id="line_21" ng-model="song.line21">
            </label>
            <label class="item item-input" name="line22" for="line_22">
                <span class="input-label">Line 22</span>
                <input type="text" placeholder="Line 22" id="line_22" ng-model="song.line22">
            </label>
            <label class="item item-input" name="line23" for="line_23">
                <span class="input-label">Line 23</span>
                <input type="text" placeholder="Line 23" id="line_23" ng-model="song.line23">
            </label>
            <label class="item item-input" name="line24" for="line_24">
                <span class="input-label">Line 24</span>
                <input type="text" placeholder="Line 24" id="line_24" ng-model="song.line24">
            </label>
            <label class="item item-input" name="line25" for="line_25">
                <span class="input-label">Line 25</span>
                <input type="text" placeholder="Line 25" id="line_25" ng-model="song.line25">
            </label>
            <label class="item item-input" name="line26" for="line_26">
                <span class="input-label">Line 26</span>
                <input type="text" placeholder="Line 26" id="line_26" ng-model="song.line26">
            </label>
            <label class="item item-input" name="line27" for="line_27">
                <span class="input-label">Line 27</span>
                <input type="text" placeholder="Line 27" id="line_27" ng-model="song.line27">
            </label>
            <label class="item item-input" name="line28" for="line_28">
                <span class="input-label">Line 28</span>
                <input type="text" placeholder="Line 28" id="line_28" ng-model="song.line28">
            </label>
            <label class="item item-input" name="line29" for="line_29">
                <span class="input-label">Line 29</span>
                <input type="text" placeholder="Line 29" id="line_29" ng-model="song.line29">
            </label>
            <label class="item item-input" name="line30" for="line_30">
                <span class="input-label">Line 30</span>
                <input type="text" placeholder="Line 30" id="line_30" ng-model="song.line30">
            </label>
            <a id="addNewSong-button5" style="font-weight:600;" class="button button-positive  button-block" ng-click="addSong(song); song = null">Submit New Song</a>
        </form>
    </ion-content>
</ion-view>