<ion-view title="Frequently Asked Questions" id="page24">
    <ion-content padding="true" class="has-header">
        <h1 id="serviceTerms-heading5" style="color:#000000;">FQA</h1>

        <form class="list">

            <a ui-sref="menu.addNewAlbum" id="home-button18" class="button button-positive button-small button-block">Edit Frequently Asked Questions</a>
        </form>

        <div id="serviceTerms-markdown19" style="color:#000000;">
            <p>This is where the frequently asked questions will be located for the user to see and read.</p>
        </div>

        <h4>What is KanakaMusic?</h4>
        <p>A software that will help communities to learn more about music from and listened to in Hawaii.</p>

        <h4>What's the purpose of this app?</h4>
        <p>To help continue to flourish music within the communities for generations to come.</p>

        <h4>How to get a flier on in the Gigs list?</h4>
        <p>Email : __________ with the subject to be exactly as formatted.</p>

        <h4>Copyright infridgement?</h4>
        <p>We do the best we can to work with copyright holders to the songs displayed in this app. Also some work are used under public domain. If still there is concern of copyright infridgement, please email : __________ with the subject title to be exactly as formatted. We would like to resolve any ambiguity or concerns. </p>

        <h4>What genres of songs does KanakaMusic have?</h4>
        <p>KanakaMusic focus on all music created or commonly listened in Hawaii, but we categorized songs or artists by Hawaiian or Contemporary. If majority of the song is in Hawaiian, it will be categorized as a Hawaiian song. If majority of the song is in any other language, it will be categorized as a contemporary song. If the artist recorded mostly Hawaiian songs, the artist is categorized as a Hawaiian artist, all else are categorized as a contemporary artist</p>

        <h4>How can I partner with KanakaMusic?</h4>
        <p>We would like to help out the Hawaiian community in many aspects, please email us at ___________ with the subject to be exactly as formatted</p>

        <h4>What does the app function on?</h4>
        <p>The app is available on IOS and Android devices.</p>

        <h4>I don't see the song or artist I'm looking for</h4>
        <p>We strive to increase our partnerships with bands, artists, and copyright holders. If the song you're looking for is not in KanakaMusic, we have yet to get the necessary license or facts to use the song that you're looking for. We want to honor every copyright holder and make sure our work is pono.</p>

        <h4> I see a typo in a name or song</h4>
        <p>Before releasing the song in the app for the public, we double check with the artist whom performs the song. If there's a typo you do see, please email us at __________  with the subject to be exactly formatted</p>

        <h4> I know how to play it in a different way </h4>
        <p>Musicians may know how to play songs in different ways. By default, we try to display chords that are used in the recordings. </p>

        <h4> Ideas and suggestions</h4>
        <p>If you have any ideas or suggestions to better KanakaMusic, we would like to hear some feed backs and comments. email us at ________ with the subject exactly as formatted.</p>

        <h4>How to be apart of the KanakaMusic team</h4>
        <p>If a position is open for hire or an intership program is upcoming, we will send an email to the mailing list to notify everyone, and inside the email will be instructions in it to follow.</p>



    </ion-content>
</ion-view>