<ion-view title="{{Song.title}}" id="page10" ng-init="getAdminSong()">
    <ion-content padding="true" class="has-header">
        <a ng-href="/#/adminSide-menu/song/edit/{{Song.id}}" id="songContent-button21" class="button button-energized  button-block">Edit Song</a>
        <div id="songContent-markdown5" style="color:#000000;text-align:center;">
            <p>artist: <strong>{{Artist.name}}</strong> - album: <strong>{{Album.title}}</strong></p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line1}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line2}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line3}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line4}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line5}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line6}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line7}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line8}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line9}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line10}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line11}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line12}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line13}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line14}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line15}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line16}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line17}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line18}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line19}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line20}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line21}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line22}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line23}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line24}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line25}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line26}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line27}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line28}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line29}}</p>
        </div>
        <div class="lyricline" style="color:#000000;">
            <p>{{Song.line30}}</p>
        </div>



        <div class="spacer" style="width: 300px; height: 62px;"></div>
        <div id="songContent-markdown6" style="color:#000000;text-align:right;">
            <p>{{Song.description}}</p>
        </div>
    </ion-content>
</ion-view>