<ion-tabs>

      <ion-tab title="adminHawaiianSongs" icon-off="ion-ios-musical-notes" icon-on="ion-ios-musical-notes" ui-sref="adminMenu.home.HawaiianSong">
        <ion-nav-view name="adminTabs-songs"></ion-nav-view>
      </ion-tab>

      <ion-tab title="adminHawaiianArtists" icon-off="ion-android-people" icon-on="ion-android-people" ui-sref="adminMenu.home.HawaiianArtist">
        <ion-nav-view name="adminTab-artists"></ion-nav-view>
      </ion-tab>

      <ion-tab title="adminContemporarySongs" icon-off="ion-ios-musical-notes" icon-on="ion-ios-musical-notes"  ui-sref="adminMenu.home.ContemporarySong">
        <ion-nav-view name="adminTab-genre"></ion-nav-view>
      </ion-tab>

      <ion-tab title="adminContemporaryArtists" icon-off="ion-android-people" icon-on="ion-android-people" ui-sref="adminMenu.home.ContemporaryArtist">
        <ion-nav-view name="adminTab-genre"></ion-nav-view>
      </ion-tab>

      <ion-tab title="adminAlbums" icon-off="ion-ios-albums" icon-on="ion-ios-albums" ui-sref="adminMenu.home.albums">
        <ion-nav-view name="adminTab-genre"></ion-nav-view>
      </ion-tab>

      <ion-tab title="adminRecordLabels" icon-off="ion-ios-recording" icon-on="ion-ios-recording" ui-sref="adminMenu.home.recordLabels">
        <ion-nav-view name="adminTab-genre"></ion-nav-view>
      </ion-tab>

</ion-tabs>

<ion-nav-view name="adminTabs-view"></ion-nav-view>

