<ion-view title="Settings" id="page20">
    <ion-content padding="true" class="has-header">



        <ion-list>
            <ion-item ui-sref="adminMenu.privacyPolicy">Privacy Policy</ion-item>
            <ion-item ui-sref="adminMenu.serviceTerms">Service Terms</ion-item>
            <ion-item ui-sref="adminMenu.frequentlyAskedQuestions"> Frequently Asked Questions </ion-item>
            <ion-item ui-sref="menu.login">Log in</ion-item>
            <ion-item ng-click="logOut()">Log out</ion-item>
        </ion-list>



    </ion-content>
</ion-view>