<ion-view title="Band Members" id="page26">
    <ion-content padding="true" class="has-header">
        <div id="bandMembers-markdown26" style="color:#000000;">
            <p>This state will have ionic slides of all the band members.</p>
        </div>
        <h1 id="bandMembers-heading6" style="color:#000000;">Band Member Name</h1>
        <div>
            <img src="img/ZSrZBxkIRta7jOnrj8qz_band_member.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="bandMembers-markdown22" style="color:#000000;">
            <p>What do they play in the band</p>
        </div>
        <div id="bandMembers-markdown27" style="color:#000000;">
            <p>About them</p>
        </div>
        <div id="bandMembers-markdown24" style="color:#000000;">
            <p>What motivates them to play music, what inspires them</p>
        </div>
        <div id="bandMembers-markdown25" style="color:#000000;">
            <p>social media</p>
        </div>
    </ion-content>
</ion-view>