<ion-view title="Contemporary Songs" id="page1" name="tabs-view">

    <ion-content padding="true" class="has-header" ng-init="getAllSongs()">

        <form class="list">
            <label class="item item-input" name="Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search">
            </label>
        </form>

        <ion-list>
            <ion-item class="item-divider">#</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in NumberContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">A</ion-item>

            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in AContemporarySong | orderBy:'title'">
                <div class="row responsive-sm">
                  <div>
                    <a>{{song.title}}</a>
                  </div>
                </div>
            </ion-item>

            <ion-item class="item-divider">B</ion-item>

            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in BContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">C</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in CContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">D</ion-item>

            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in DContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">E</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in EContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">F</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in FContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">G</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in GContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">H</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in HContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">I</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in IContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">J</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in JContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">K</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in KContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">L</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in LContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">M</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in MContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">N</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in NContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">O</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in OContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">P</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in PContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">Q</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in QContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">R</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in RContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">S</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in SContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">T</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in TContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">U</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in UContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">V</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in VContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">W</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in WContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">X</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in XContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">Y</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in YContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">Z</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in ZContemporarySong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

        </ion-list>

        <div class="spacer" style="width: 300px; height: 50px;"></div>
    </ion-content>
</ion-view>