<ion-view title="Contemporary Artists" id="page1">
    <ion-content padding="true" class="has-header" ng-init="getAllArtists()">


        <form class="list">
            <label class="item item-input" name="Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search">
            </label>
        </form>

        <ion-list>
            <ion-item class="item-divider">#</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in NumberContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">A</ion-item>

            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in AContemporaryArtist | orderBy:'name'">
                <div class="row responsive-sm">
                  <div>
                    <a>{{artist.name}}</a>
                  </div>
                </div>
            </ion-item>

            <ion-item class="item-divider">B</ion-item>

            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in BContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">C</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in CContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">D</ion-item>

            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in DContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">E</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in EContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">F</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in FContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">G</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in GContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">H</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in HContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">I</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in IContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">J</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in JContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">K</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in KContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">L</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in LContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">M</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in MContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">N</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in NContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">O</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in OContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">P</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in PContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">Q</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in QContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">R</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in RContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">S</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in SContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">T</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in TContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">U</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in UContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">V</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in VContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">W</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in WContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">X</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in XContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">Y</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in YContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">Z</ion-item>
            <ion-item ng-href="/#/side-menu/artist/content/{{artist.id}}" ng-repeat="artist in ZContemporaryArtist | orderBy:'name'">
              <div class="row responsive-sm">
                <div>
                  <a>{{artist.name}}</a>
                </div>
              </div>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>