<ion-view title="Date of the gigs" id="page25">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">8:00 am</ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.gigDetails">
                <img src="img/9hlxI8dnQ1yvkvLXj5DT_ukulele.jpg">
                <h2>Gig 1</h2>
                <p>where</p>
            </ion-item>
            <ion-item class="item-divider">9:00 am</ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.gigDetails">
                <img src="img/IM6Ub7yKTZOZcIJHhixm_drums.jpg">
                <h2>Gig 2</h2>
                <p>where</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.gigDetails">
                <img src="img/NqsxJQJDQIqE4bOLYqh0_bass.jpg">
                <h2>Gig 3</h2>
                <p>where</p>
            </ion-item>
            <ion-item class="item-divider">10:00 am</ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.gigDetails">
                <img src="img/AJHY8QX8RqFlh2ByGjQi_3494602445_184e72a852_z.jpg">
                <h2>Gig 4</h2>
                <p>where</p>
            </ion-item>
            <ion-item class="item-divider">11:00 am</ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.gigDetails">
                <img src="img/Ei6GadHQOeoscBJswmPu_mic.jpg">
                <h2>Gig 5</h2>
                <p>where</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>