<ion-view title="Gig Details" id="page11">
    <ion-content padding="true" class="has-header">
        <button id="gigDetails-button29" class="button button-energized button-small button-block">Edit Gig</button>
        <button id="gigDetails-button22" class="button button-positive button-small button-block">Delete</button>
        <h1 id="gigDetails-heading1" style="color:#000000;">Title of Gig</h1>
        <div>
            <img src="img/UPrfVuNDRpGecD2FpWLs_ukulele.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="gigDetails-markdown18" style="color:#000000;">
            <p>Bands</p>
        </div>
        <div id="gigDetails-markdown17" style="color:#000000;">
            <p>Date</p>
        </div>
        <div id="gigDetails-markdown15" style="color:#000000;">
            <p>Location</p>
        </div>
        <div id="gigDetails-markdown16" style="color:#000000;">
            <p>Time</p>
        </div>
        <div id="gigDetails-markdown8" style="color:#000000;">
            <p>Details about the gig</p>
        </div>
    </ion-content>
</ion-view>