<ion-view title="Hawaiian Songs" id="page1" name="tabs-view">

    <ion-content padding="true" class="has-header" ng-init="getAllSongs()">

        <form class="list">
            <label class="item item-input" name="Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search">
            </label>
        </form>

        <ion-list>
            <ion-item class="item-divider">#</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in NumberHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">A</ion-item>

            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in AHawaiianSong | orderBy:'title'">
                <div class="row responsive-sm">
                  <div>
                    <a>{{song.title}}</a>
                  </div>
                </div>
            </ion-item>

            <ion-item class="item-divider">B</ion-item>

            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in BHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">C</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in CHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">D</ion-item>

            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in DHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">E</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in EHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">F</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in FHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">G</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in GHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">H</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in HHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">I</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in IHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">J</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in JHAwaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">K</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in KHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">L</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in LHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">M</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in MHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">N</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in NHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">O</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in OHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">P</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in PHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">Q</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in QHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">R</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in RHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">S</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in SHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">T</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in THawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">U</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in UHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">V</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in VHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">W</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in WHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">X</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in XHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">Y</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in YHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-divider">Z</ion-item>
            <ion-item ng-href="/#/side-menu/song/content/{{song.id}}" ng-repeat="song in ZHawaiianSong | orderBy:'title'">
              <div class="row responsive-sm">
                <div>
                  <a>{{song.title}}</a>
                </div>
              </div>
            </ion-item>

        </ion-list>

        <div class="spacer" style="width: 300px; height: 50px;"></div>
    </ion-content>
</ion-view>