<div ng-init="getOneSongToEdit()">

  <fieldset>
    <div>
      <label for="song_title">SONG TITLE</label>
      <input id="song_title "type="text" max-length="" ng-model="song.title" ng-value="Song.title">
      <br>
    </div>

    <div>
      <label for="song_artist">ARTIST</label>
      <input id="song_artist" type="text" ng-model="song.artist" ng-value="Song.artist">
      <br>
    </div>

    <div>
      <label for="song_description">Description</label>
      <input id="song_description "type="text" ng-model="song.description" ng-value="Song.description">
      <br>
    </div>

    <div>
      <label for="song_line1">line1</label>
      <input id="song_line1 "type="text" ng-model="song.line1" ng-value="Song.line1">
      <br>
    </div>

    <div>
      <label for="song_line2">line2</label>
      <input id="song_line2 "type="text" ng-model="song.line2" ng-value="Song.line2">
      <br>
    </div>

    <label for="song_line3">line3</label>
    <input id="song_line3"type="text" ng-model="song.line3" ng-value="Song.line3">
    <br>

    <label for="song_line4">line4</label>
    <input id="song_line4"type="text" ng-model="song.line4" ng-value="Song.line4">
    <br>

    <label for="song_line5">line5</label>
    <input id="song_line5"type="text" ng-model="song.line5" ng-value="Song.line5">
    <br>

    <label for="song_line6">line6</label>
    <input id="song_line6"type="text" ng-model="song.line6" ng-value="Song.line6">
    <br>

    <label for="song_line7">line7</label>
    <input id="song_line7"type="text" ng-model="song.line7" ng-value="Song.line7">

    <label for="song_line8">line8</label>
    <input id="song_line8"type="text" ng-model="song.line8" ng-value="Song.line8" >

    <label for="song_line9">line9</label>
    <input id="song_line9"type="text" ng-model="song.line9" ng-value="Song.line9" >

    <label for="song_line10">line10</label>
    <input id="song_line10"type="text" ng-model="song.line10" ng-value="Song.line10" >

    <label for="song_line11">line11</label>
    <input id="song_line11 "type="text" ng-model="song.line11" ng-value="Song.line11" >

    <label for="song_line12">line12</label>
    <input id="song_line12 "type="text" ng-model="song.line12" ng-value="Song.line12" >

    <label for="song_line13">line13</label>
    <input id="song_line13 "type="text" ng-model="song.line13" ng-value="Song.line13" >

    <label for="song_line14">line14</label>
    <input id="song_line14 "type="text" ng-value="Song.line14" ng-model="song.line14">

    <label for="song_line15">line15</label>
    <input id="song_line15 "type="text" ng-model="song.line15" ng-value="Song.line15" >

    <label for="song_line16">line16</label>
    <input id="song_line16 "type="text" ng-model="song.line16" ng-value="Song.line16" >

    <label for="song_line17">line17</label>
    <input id="song_line17 "type="text" ng-model="song.line17" ng-value="Song.line17" >

    <label for="song_line18">line18</label>
    <input id="song_line18 "type="text" ng-model="song.line18" ng-value="Song.line18" >

    <label for="song_line19">line19</label>
    <input id="song_line19 "type="text" ng-model="song.line19" ng-value="Song.line19" >

    <label for="song_line20">line20</label>
    <input id="song_line20 "type="text" ng-model="song.line20" ng-value="Song.line20" >

    <label for="song_line21">line21</label>
    <input id="song_line21 "type="text" ng-model="song.line21" ng-value="Song.line21" >

    <label for="song_line22">line22</label>
    <input id="song_line22 "type="text" ng-model="song.line22" ng-value="Song.line22" >

    <label for="song_line23">line23</label>
    <input id="song_line23"type="text" ng-model="song.line23" ng-value="Song.line23" >

    <label for="song_line24">line24</label>
    <input id="song_line24"type="text" ng-model="song.line24" ng-value="Song.line24" >

    <label for="song_line25">line25</label>
    <input id="song_line25"type="text" ng-model="song.line25" ng-value="Song.line25" >

    <label for="song_line26">line26</label>
    <input id="song_line26"type="text" ng-model="song.line26" ng-value="Song.line26" >

    <label for="song_line27">line27</label>
    <input id="song_line27"type="text" ng-model="song.line27" ng-value="Song.line27" >

    <label for="song_line28">line28</label>
    <input id="song_line28"type="text" ng-model="song.line28" ng-value="Song.line28" >

    <label for="song_line29">line29</label>
    <input id="song_line29" type="text" ng-model="song.line29" ng-value="Song.line29" >

    <label for="song_line30">line30</label>
    <input id="song_line30" type="text" ng-model="song.line30" ng-value="Song.line30" >


    <button type="button" ng-click="editSong(song)">Edit Song</button>



  </fieldset>

</div>