<div ng-init="getOneSong()">
  <br>

  <a ng-href="/#/song/edit/{{Song.urlTitle}}">Edit</a>

  <br>

  <div>
    {{Song.title}}
  </div>

  <div>
    {{Song.artist}}
  </div>

  <br>

  <div></div>
    {{Song.line1}}
  <div></div>

  <div></div>
    {{Song.line2}}
  <div></div>

  <div></div>
    {{Song.line3}}
  <div></div>
  <div></div>
    {{Song.line4}}
  <div></div>

  <div></div>
    {{Song.line5}}
  <div></div>

  <div></div>
    {{Song.line6}}
  <div></div>

  <div></div>
    {{Song.line7}}
  <div></div>

  <div></div>
    {{Song.line8}}
  <div></div>

  <div></div>
    {{Song.line9}}
  <div></div>

  <div></div>
    {{Song.line10}}
  <div></div>

  <div></div>
    {{Song.line11}}
  <div></div>

  <div></div>
    {{Song.line12}}
  <div></div>

  <div></div>
    {{Song.line13}}
  <div></div>

  <div></div>
    {{Song.line14}}
  <div></div>

  <div></div>
    {{Song.line15}}
  <div></div>

  <div></div>
    {{Song.line16}}
  <div></div>

  <div></div>
    {{Song.line17}}
  <div></div>

  <div></div>
    {{Song.line18}}
  <div></div>

  <div></div>
    {{Song.line19}}
  <div></div>

  <div></div>
    {{Song.line20}}
  <div></div>

  <div></div>
    {{Song.line21}}
  <div></div>

  <div></div>
    {{Song.line22}}
  <div></div>

  <div></div>
    {{Song.line23}}
  <div></div>

  <div></div>
    {{Song.line24}}
  <div></div>

  <div></div>
    {{Song.line25}}
  <div></div>

  <div></div>
    {{Song.line26}}
  <div></div>

  <div></div>
    {{Song.line27}}
  <div></div>

  <div></div>
    {{Song.line28}}
  <div></div>

  <div></div>
    {{Song.line29}}
  <div></div>

  <div></div>
    {{Song.line30}}
  <div></div>

  <button ng-click="deleteSong(Song.id)">Delete</button>

</div>
